doctype html
html(lang="en")
    head
        - var title = "home";
        include ../includes/_head
    body
        div.container
            div.column
                include ../modules/movie-list/module-1984
            div.column
                include ../modules/movie-list/module-1999
